h1{
    background-color: white;
    border-style: solid;
    border-color: black;
}
#h1{
    padding-left: 33%;
}
#profile{
    border-style: solid;
    background-color: dimgrey;
    border-radius: 50%;
}
#img{
    padding-left: 40%;
    padding-bottom: 1%;
}
