<!DOCTYPE HTML>


<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <title>About Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="resources/assets/css/main.css" />
    <link th:href = "@{assets/css/main.css}" rel="stylesheet">
</head>
<body class="is-preload landing">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="/landingPage">Gift-ish</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="signup" class="button primary">Sign Up</a></li>
            </ul>
        </nav>
    </header>


    <!-- One -->
    <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img th:src="@{/img/database.jpg}"/></span>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>DataBase Administration</h2>
                            <p>By Alejandro Ramirez</p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
    </section>

    <!-- Two -->
    <section id="two" class="spotlight style2 right">
        <span class="image fit main"><img th:src="@{/img/api.jpg}" alt="" /></span>
        <div class="content">
            <header>
                <h2>API Implementation</h2>
                <p>Charlie Dolton</p>
            </header>
            <p>Charlie worked on the API routes and integrating the API into the rest of the app.
                The most challenging part of this was getting the logic of the queries and how the
                results integrate into the page correct. Another challenge was learning how to properly
                use Thymeleaf. A major victory was connecting all the pages together to the point you
                could actually add items to and display items from the database. Overall, the API portion
                of the project was successful, though the routes for both the API and the website could
                have been much more efficient in terms of the number of queries.
            </p>
            <ul class="actions">

            </ul>
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </section>

    <!-- Three -->
    <section id="three" class="spotlight style3 left">
        <span class="image fit main bottom"><img th:src="@{/img/backend.jpg}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Backend/ Frontend</h2>
                <p>By Olisemedua Onwuatogwu</p>
            </header>
            <p> He implemented the back and front ends of the website. He implemented the
                logic for the signup page, the signout functionality, and sessions for the
                backend. For the front end, he worked on the CSS for the homepage.
            </p>
            <ul class="actions">

            </ul>
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
    </section>

    <!-- One -->
    <section id="four" class="spotlight style1 bottom">
        <span class="image fit main"><img th:src="@{/img/frontend.png}" alt=""  /></span>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">
                        <header>
                            <h2>Frontend</h2>
                            <p>By Osman Safi</p>
                        </header>
                    </div>
                    <div class="col-4 col-12-medium">
                        <p>Osman assisted on the front end of the website, making sure
                            the layout looked presentable.
                        </p>
                    </div>
                    <div class="col-4 col-12-medium">
                    </div>
                </div>
            </div>
        </div>
        <a href="#two" class="goto-next scrolly">Next</a>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://github.com/charliedolton/cst438-project-2" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        </ul>

    </footer>

</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>