<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Wishlist</title>
</head>
<body>

<h1>Edit Wishlist</h1>

<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${!wishlist}">
        <td> Wishlist Unavailable </td>
    </tr>
    <tr>
        <td><span th:text="${wishlist.listName}"> List Name </span></td>
    </tr>
    <!--<tr th:if="${!wishlist.items}">
        <td> Item List Unavailable </td>
    </tr> -->
    <tr th:each="item : ${wishlist.items}">
        <td th:text="${item.itemName}"> Item Name </td>
        <td th:text="${item.itemPrice}"> Item Price </td>
        <td th:text="${item.amazonURL}"> Item URL </td>
    </tr>
    </tbody>
</table>

</body>
</html>