<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>View Wishlist</title>
</head>
<body>

<h1>View Wishlist</h1>

<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${wishlist == null}">
        <td> Wishlist Unavailable </td>
    </tr>
    <tr>
        <td><span th:text="${wishlist.listName}"> List Name </span></td>
    </tr>
    <tr th:if="${wishlist.items == null}">
        <td> Item List Unavailable </td>
    </tr>
    <tr th:each="item : ${wishlist.items}">
        <form action="/api/deleteItem" method="post">
            <td th:text="${item.itemName}"> Item Name </td>
            <td th:text="${item.itemPrice}"> Item Price </td>
            <td th:text="${item.amazonURL}"> Item URL </td>
            <input type="hidden" name="itemId" th:value="${item.itemId}">
            <input type="hidden" name="wishlistId" th:value="${wishlist.wishListId}">
            <td th:if="${isAuthenticated == true}"><input type="submit" value="Delete Item"></td>
        </form>
    </tr>
    </tbody>
</table>

<a th:href="'addItemToWishlist?wishlistId='+ ${wishlist.wishListId}"> Add an Item to This Wishlist </a>

</body>
</html>