<!DOCTYPE html>
<html>
<body>
<br><h2> Please enter your Username and Password </h2><br>

<div class="form-container">
    <form name="signup" class="form-location" method="POST" action="/login">
        <span>Username:</span>
        <input type="text" name="username"  minlength="2">
        <br><br>
        <span>Password:</span>
        <input type="password" name="password" minlength="1">
        <br><br>
        <button id="loginButton"> Log in </button>
    </form><br>
</div>
</body>
</html>
