<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Name of WishList</title>
</head>
<body>


<h1 th:text="${wishlist.listName}"></h1>

<table>
    <tr th:each="item : ${wishlist.items}">
        <td class="wishlistViewItemName" th:text="${item.itemName}"></td>
        <td class="wishlistViewItemPrice" th:text="${item.itemPrice}"></td>
        <td class="wishlistViewItemURL" th:text="${item.amazonURL}"></td>
        <td class="wishlistViewItemImage" th:text="${item.itemPictureURL}"></td>
        <td><a th:href="'/editItem?itemId=' + ${item.itemId}"> Edit Item </a> </td>
    </tr>
</table>
<a th:href="'editWishlist?wishlistId='+ ${wishlist.wishListId}">Edit This Wishlist</a>

</body>
</html>